In [2]:
import pandas as pd
from sklearn.datasets import load_iris

IRIS = load_iris()
iris = pd.DataFrame(data = IRIS.data, columns = IRIS.feature_names)
iris['class'] = IRIS.target
iris['class'] = iris['class'].map({0:'setosa',1:'versicolor',2:'virginica'})
iris.groupby(by='class').mean()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
class,,,,
setosa,5.006,3.428,1.462,0.246
versicolor,5.936,2.770,4.260,1.326
virginica,6.588,2.974,5.552,2.026

In [3]:
iris.groupby(by='class').median()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
class,,,,
setosa,5.0,3.4,1.50,0.2
versicolor,5.9,2.8,4.35,1.3
virginica,6.5,3.0,5.55,2.0

In [5]:
#도수분포표
iris['petal width level'] = pd.qcut(iris['petal width (cm)'], q=3, 
                                    labels = ['short','middle','long'])

pd.Series(iris['petal width level']).value_counts().to_frame()

        petal width level
middle                 52
short                  50
long                   48

In [7]:
# 교차표

pd.crosstab(iris['petal width level'], iris['class'])

class              setosa  versicolor  virginica
petal width level
short                  50           0          0
middle                  0          48          4
long                    0           2         46