In [2]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import statsmodels.api as sm
from statsmodels.stats.anova import AnovaRM
from scipy import stats

In [5]:
group_list = ['a','b','c']
subs_list = ['01','02','03','04','05','06','07','08','09','10']

df_1way = pd.DataFrame(columns = ['group','my_value'])
my_row = 0
for ind_g, group in enumerate(group_list):
    for sub in subs_list:
        my_val = np.random.normal(ind_g,1,1)[0]
        df_1way.loc[my_row] = [group,my_val]
        my_row = my_row+1

In [6]:
df_1way.head()

  group  my_value
0     a -0.835997
1     a -2.500304
2     a -0.057559
3     a -0.813128
4     a -0.482569

In [7]:
my_model = smf.ols(formula = 'my_value ~ group',data = df_1way)

my_model_fit = my_model.fit()

anova = sm.stats.anova_lm(my_model_fit,typ=2)
print(anova)

             sum_sq    df          F    PR(>F)
group     25.320130   2.0  13.294976  0.000096
Residual  25.710596  27.0        NaN       NaN

## scipy stats활용

In [9]:
F, p = stats.f_oneway(df_1way[df_1way['group'] == 'a'].my_value, df_1way[df_1way['group'] == 'b'].my_value,df_1way[df_1way['group'] == 'c'].my_value)
print(F,p)

13.294975667485598 9.567212498195346e-05

## 정규성 검정 실패시

In [10]:
from scipy import stats
x = [1,3,5,7,9]
y = [2,4,6,8,10]
stats.kruskal(x,y)

KruskalResult(statistic=0.2727272727272734, pvalue=0.6015081344405895)

In [11]:
x = [1,2,3,4,5]
y = [1,2,3,4,5]
z = [1,2,3,4,5]

stats.kruskal(x,y,z)

KruskalResult(statistic=0.0, pvalue=1.0)