상품 a와 b가 있을 때, 다음과 같은 구매 패턴이 있다고 한다.

[a,a,b,b,a,a,a,a,b,b,b,b,b,a,a,b,b,a,b,b]

1. 구매 패턴으로 볼 때 두 상품이 연관이 있는지 가설을 세우고 검정하시오.
- 귀무가설 : 연속적인 관측값이 임의적이다.
- 대립가설 : 연속적인 관측값이 임의적이지 않다. (연관이 있다)

In [3]:
import pandas as pd
import numpy as np

data = ['a','a','b','b','a','a','a','a','b','b','b','b','b','a','a','b','b','a','b','b']
test_df = pd.DataFrame(data, columns=['product'])
test_df

   product
0        a
1        a
2        b
3        b
4        a
5        a
6        a
7        a
8        b
9        b
10       b
11       b
12       b
13       a
14       a
15       b
16       b
17       a
18       b
19       b

In [4]:
from statsmodels.sandbox.stats.runs import runstest_1samp

test_df.loc[test_df['product'] == 'a', 'product'] = 1
test_df.loc[test_df['product'] == 'b', 'product'] = 0

runstest_1samp(test_df['product'], cutoff=0.5, correction=True)

(-1.1144881152070183, 0.26506984027306035)

2. 가설을 채택하시오.

p-value값이 0.05보다 크기 때문에 귀무가설을 기각한다. 즉 상품 a,b의 구매에는 연관이 없다.