In [9]:
import pandas as pd
df = pd.read_csv('FIFA.csv',encoding='euc-kr')
df.head()

,ID,Name,Age,Nationality,Overall,Club,Preferred_Foot,Work_Rate,Position,Jersey_Number,Contract_Valid_Until,Height,Weight_lb,Release_Clause,Value,Wage
0,158023,L. Messi,31,Argentina,94,FC Barcelona,Left,Medium/ Medium,RF,10,2021,5'7,159,226500,110500,565
1,20801,Cristiano Ronaldo,33,Portugal,94,Juventus,Right,High/ Low,ST,7,2022,6'2,183,127100,77000,405
2,190871,Neymar Jr,26,Brazil,92,Paris Saint-Germain,Right,High/ Medium,LW,10,2022,5'9,150,228100,118500,290
3,193080,De Gea,27,Spain,91,Manchester United,Right,Medium/ Medium,GK,1,2020,6'4,168,138600,72000,260
4,192985,K. De Bruyne,27,Belgium,91,Manchester City,Right,High/ High,RCM,7,2023,5'11,154,196400,102000,355

1. FIFA 데이터에 각 선수의 키는 Height변수에 피트와 인치로 입력되어 있다. 이를 cm로 변환하여 새로운 변수 Heihht_cm을 생성하시오. 

("'" 앞의 숫자는 피트이며 "'"뒤의 숫자는 인치, 1피트 = 30cm, 1인치 = 2.5cm)

In [15]:
df['Height_cm'] = df.Height.str.split("'").str[0].astype(int)*30+df.Height.str.split("'").str[1].astype(int)*2.5 
df

,ID,Name,Age,Nationality,Overall,Club,Preferred_Foot,Work_Rate,Position,Jersey_Number,Contract_Valid_Until,Height,Weight_lb,Release_Clause,Value,Wage,Height_cm
0,158023,L. Messi,31,Argentina,94,FC Barcelona,Left,Medium/ Medium,RF,10,2021,5'7,159,226500,110500,565,167.5
1,20801,Cristiano Ronaldo,33,Portugal,94,Juventus,Right,High/ Low,ST,7,2022,6'2,183,127100,77000,405,185.0
2,190871,Neymar Jr,26,Brazil,92,Paris Saint-Germain,Right,High/ Medium,LW,10,2022,5'9,150,228100,118500,290,172.5
3,193080,De Gea,27,Spain,91,Manchester United,Right,Medium/ Medium,GK,1,2020,6'4,168,138600,72000,260,190.0
4,192985,K. De Bruyne,27,Belgium,91,Manchester City,Right,High/ High,RCM,7,2023,5'11,154,196400,102000,355,177.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16637,238813,J. Lundstram,19,England,47,Crewe Alexandra,Right,Medium/ Medium,CM,22,2019,5'9,134,143,60,1,172.5
16638,243165,N. Christoffersson,19,Sweden,47,Trelleborgs FF,Right,Medium/ Medium,ST,21,2020,6'3,170,113,60,1,187.5
16639,241638,B. Worman,16,England,47,Cambridge United,Right,Medium/ Medium,ST,33,2021,5'8,148,165,60,1,170.0
16640,246268,D. Walker-Rice,17,England,47,Tranmere Rovers,Right,Medium/ Medium,RW,34,2019,5'10,154,143,60,1,175.0
16641,246269,G. Nugent,16,England,46,Tranmere Rovers,Right,Medium/ Medium,CM,33,2019,5'10,176,165,60,1,175.0

2. 포지션을 의미하는 포지션 변수를 아래 표를 참고하여 'Forward', 'Midfielder', 'Defender' 'GoalKeeper'로 재범주화하고 factor형으로 변환하여 Position_Class라는 변수르르 생성하고 저장하시오.

In [31]:
df['Position_Class'] = ""
Forward = ['LS','ST','RS','LW','CF','RF','RW']
Midfielder = ['LAM','CAM','RAM','LM','LCM','CM','RCM','RM']
GoalKeeper = ['GK']
Defender = ['LWB','LDM','CDM','RDM','RWB','LB','LCB','CB','RCB','RB']

for i in range(len(df)):
    if df['Position'][i] in Forward:
        df['Position_Class'][i] = 'Forward'
        
    elif df['Position'][i] in Midfielder:
        df['Position_Class'][i] = 'Midfielder'
        
    elif df['Position'][i] in Defender:
        df['Position_Class'][i] = 'Defender'
        
    elif df['Position'][i] in GoalKeeper:
        df['Position_Class'][i] = 'GoalKeeper'
        
df.head()

C:\Users\suhye\AppData\Local\Temp\ipykernel_19344\3447129400.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Position_Class'][i] = 'Forward'
C:\Users\suhye\AppData\Local\Temp\ipykernel_19344\3447129400.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Position_Class'][i] = 'GoalKeeper'
C:\Users\suhye\AppData\Local\Temp\ipykernel_19344\3447129400.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Position_Class'][i] = 'Midfielder'
C:\Users\suhye\AppData\Local\Temp\ipykernel_19344\3447129400.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Position_Class'][i] = 'Defender'

,ID,Name,Age,Nationality,Overall,Club,Preferred_Foot,Work_Rate,Position,Jersey_Number,Contract_Valid_Until,Height,Weight_lb,Release_Clause,Value,Wage,Height_cm,Position_Class
0,158023,L. Messi,31,Argentina,94,FC Barcelona,Left,Medium/ Medium,RF,10,2021,5'7,159,226500,110500,565,167.5,Forward
1,20801,Cristiano Ronaldo,33,Portugal,94,Juventus,Right,High/ Low,ST,7,2022,6'2,183,127100,77000,405,185.0,Forward
2,190871,Neymar Jr,26,Brazil,92,Paris Saint-Germain,Right,High/ Medium,LW,10,2022,5'9,150,228100,118500,290,172.5,Forward
3,193080,De Gea,27,Spain,91,Manchester United,Right,Medium/ Medium,GK,1,2020,6'4,168,138600,72000,260,190.0,GoalKeeper
4,192985,K. De Bruyne,27,Belgium,91,Manchester City,Right,High/ High,RCM,7,2023,5'11,154,196400,102000,355,177.5,Midfielder

3. 새로 생성한 Position_Class 변수의 각 범주에 따른 Value 변수 평균값의 차이를 비교하는 일원배치 분산분석을 수행하고 결과를 해석하시오. (데이터는 등분산성 가정을 만족한다고 가정) 그리고 평균값의 차이가 통계적으로 유의하다면 사후검정을 수행하고 설명하시오.

H0 : k개의 집단 간 모평균에는 차이가 없다. 

H1 : k개의 집단 간 모평균이 모두 같다고는 할 수 없다.

In [32]:
df['Position_Class'].value_counts()

Defender      6763
Midfielder    4935
Forward       3029
GoalKeeper    1900
                15
Name: Position_Class, dtype: int64

In [30]:
import statsmodels.formula.api as smf
import statsmodels.api as sm
from statsmodels.stats.anova import AnovaRM
from scipy import stats

anova = smf.ols(formula = 'Value~Position_Class',data = df)
anova_fit = anova.fit()

anova_table = sm.stats.anova_lm(anova_fit,typ=2)
print(anova_table)

                      sum_sq       df         F        PR(>F)
Position_Class  5.990730e+09      4.0  46.26041  1.015513e-38
Residual        5.386235e+11  16637.0       NaN           NaN

p-value값이 0.05보다 작아 귀무가설 기각 -> 사후검정 필요

In [25]:
from statsmodels.stats.multicomp import MultiComparison
from statsmodels.stats.multicomp import pairwise_tukeyhsd
hsd = pairwise_tukeyhsd(df['Value'], df['Position_Class'], alpha=0.05)
print(hsd.summary())

         Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================================
  group1     group2    meandiff  p-adj     lower      upper    reject
---------------------------------------------------------------------
             Defender -8151.5967   -0.0 -10745.5539 -5557.6395   True
              Forward -7291.1394   -0.0  -9893.5486 -4688.7302   True
           GoalKeeper -8658.9816   -0.0 -11270.4565 -6047.5067   True
           Midfielder  -7401.249   -0.0  -9997.7889 -4804.7091   True
  Defender    Forward   860.4573    0.0    521.0841  1199.8306   True
  Defender GoalKeeper  -507.3848 0.0054   -910.4255  -104.3442   True
  Defender Midfielder   750.3478    0.0    459.3835   1041.312   True
   Forward GoalKeeper -1367.8422   -0.0  -1822.1123   -913.572   True
   Forward Midfielder  -110.1096 0.9189   -468.6898   248.4706  False
GoalKeeper Midfielder  1257.7326   -0.0     838.391  1677.0742   True
---------------------------------------------------------------------

Forward-MidFielder의 pvalue값이 0.5

In [28]:
#봉페로니 교정
comp = MultiComparison(df.Value, df.Position_Class)
result = comp.allpairtest(stats.ttest_ind, method='bonf')
print(result[0])

Test Multiple Comparison ttest_ind
FWER=0.05 method=bonf
alphacSidak=0.01, alphacBonf=0.005
=====================================================
  group1     group2     stat   pval  pval_corr reject
-----------------------------------------------------
             Defender 10.4558    0.0       0.0   True
              Forward   5.681    0.0       0.0   True
           GoalKeeper  9.4466    0.0       0.0   True
           Midfielder   6.927    0.0       0.0   True
  Defender    Forward -7.1651    0.0       0.0   True
  Defender GoalKeeper  4.3687    0.0    0.0001   True
  Defender Midfielder -7.6731    0.0       0.0   True
   Forward GoalKeeper  7.2488    0.0       0.0   True
   Forward Midfielder  0.7187 0.4724       1.0  False
GoalKeeper Midfielder -8.0611    0.0       0.0   True
-----------------------------------------------------