### 1. 귀무가설, 연구가설

H0 : 학과와 성적은 관련이 없다. 
H1 : 학과와 성적은 관련이 있다.

In [3]:
import pandas as pd
df = pd.DataFrame({'사회과학':[15,60,24],'자연과학':[25,69,5],'공학':[10,77,13]})
df.index = ['1.5-2.5','2.5-3.5','3.5-4.5']
df

         사회과학  자연과학  공학
1.5-2.5    15    25  10
2.5-3.5    60    69  77
3.5-4.5    24     5  13

### 학과와 성적이 독립인 경우의 기댓값

In [6]:
from scipy.stats import chi2_contingency,fisher_exact
chi2, p, dof, expected = chi2_contingency(df)
print(expected)

[[16.61073826 16.61073826 16.77852349]
 [68.43624161 68.43624161 69.12751678]
 [13.95302013 13.95302013 14.09395973]]

### 검정 통계량 구하고, 연구 가설의 채택 여부 작성

In [8]:
print(p)

0.00018822647762421383

카이 제곱 검정시 p-value는 0.00018로 귀무가설을 기각한다. 따라서, 학과와 성적은 관련이 있다.