In [24]:
import pandas as pd
import numpy as np

data = pd.read_csv("FIFA.csv")
data.head()

,ID,Name,Age,Nationality,Overall,Club,Preferred_Foot,Work_Rate,Position,Jersey_Number,Contract_Valid_Until,Height,Weight_lb,Release_Clause,Value,Wage
0,158023,L. Messi,31,Argentina,94,FC Barcelona,Left,Medium/ Medium,RF,10,2021,5'7,159,226500,110500,565
1,20801,Cristiano Ronaldo,33,Portugal,94,Juventus,Right,High/ Low,ST,7,2022,6'2,183,127100,77000,405
2,190871,Neymar Jr,26,Brazil,92,Paris Saint-Germain,Right,High/ Medium,LW,10,2022,5'9,150,228100,118500,290
3,193080,De Gea,27,Spain,91,Manchester United,Right,Medium/ Medium,GK,1,2020,6'4,168,138600,72000,260
4,192985,K. De Bruyne,27,Belgium,91,Manchester City,Right,High/ High,RCM,7,2023,5'11,154,196400,102000,355

1. fifa데이터에서 각 선수의 키는 height변수에 피트와 인치로 입력되어 있습니다. 이를 cm로 변환하여 새로운 변수 height_cm를 생성하시오.

In [25]:
data['Height_cm'] = pd.to_numeric(data['Height'].str[:1])*30 + pd.to_numeric(data['Height'].str[2:])*2.5
data.head()

,ID,Name,Age,Nationality,Overall,Club,Preferred_Foot,Work_Rate,Position,Jersey_Number,Contract_Valid_Until,Height,Weight_lb,Release_Clause,Value,Wage,Height_cm
0,158023,L. Messi,31,Argentina,94,FC Barcelona,Left,Medium/ Medium,RF,10,2021,5'7,159,226500,110500,565,167.5
1,20801,Cristiano Ronaldo,33,Portugal,94,Juventus,Right,High/ Low,ST,7,2022,6'2,183,127100,77000,405,185.0
2,190871,Neymar Jr,26,Brazil,92,Paris Saint-Germain,Right,High/ Medium,LW,10,2022,5'9,150,228100,118500,290,172.5
3,193080,De Gea,27,Spain,91,Manchester United,Right,Medium/ Medium,GK,1,2020,6'4,168,138600,72000,260,190.0
4,192985,K. De Bruyne,27,Belgium,91,Manchester City,Right,High/ High,RCM,7,2023,5'11,154,196400,102000,355,177.5

2. 포지션을 의미하는 Position변수를 아래 표를 참고하여 "Forward", "Midfielder", "Defender", "GoalKeeper" 로 재범주화하고, factor형으로 변환하여 Position_Class라는 변수를 생성하고 저장하시오.

In [27]:
data["Position_Class"] = ""

Forward = ['LS','ST','RS','LF','CF','RF','RW']
MidFielder = ['LAM','CAM','RAM','LM','LCM','CM','RCM','RM']
Defender = ['LWB','LDM','CDM','RDM','RWB','LB','LCB','CB','RCB','RB']
GoalKeeper = ['GK']

for i in range(len(data)):
    if data['Position'][i] in Forward:
        data["Position_Class"] = 'Forward'
        
    elif data['Position'][i] in MidFielder:
        data["Position_Class"] = 'MidFielder'
        
    elif data['Position'][i] in Defender:
        data["Position_Class"] = 'Defender'
        
    elif data['Position'][i] in GoalKeeper:
        data["Position_Class"] = 'GoalKeeper'
        
    else :
        continue
        
data.head()

,ID,Name,Age,Nationality,Overall,Club,Preferred_Foot,Work_Rate,Position,Jersey_Number,Contract_Valid_Until,Height,Weight_lb,Release_Clause,Value,Wage,Height_cm,Position_Class
0,158023,L. Messi,31,Argentina,94,FC Barcelona,Left,Medium/ Medium,RF,10,2021,5'7,159,226500,110500,565,167.5,MidFielder
1,20801,Cristiano Ronaldo,33,Portugal,94,Juventus,Right,High/ Low,ST,7,2022,6'2,183,127100,77000,405,185.0,MidFielder
2,190871,Neymar Jr,26,Brazil,92,Paris Saint-Germain,Right,High/ Medium,LW,10,2022,5'9,150,228100,118500,290,172.5,MidFielder
3,193080,De Gea,27,Spain,91,Manchester United,Right,Medium/ Medium,GK,1,2020,6'4,168,138600,72000,260,190.0,MidFielder
4,192985,K. De Bruyne,27,Belgium,91,Manchester City,Right,High/ High,RCM,7,2023,5'11,154,196400,102000,355,177.5,MidFielder

In [ ]:
 if (data['Position'][i] == 'LS' or 'ST' or 'RS' or 'LF' or 'CF' or 'RF'or'RW'):
        data["Position_Class"][i] = 'Forward'
    
    elif (data['Position'][i] == 'LAM' or 'CAM' or 'RAM' or 'LM' or 'LCM' or 'CM' or 'RCM' or 'RM'):
        data["Position_Class"][i] = 'MidFielder'
        
    elif (data['Position'][i] == 'LWB' or 'LDM' or 'CDM' or 'RDM' or 'RWB' or 'LB' or 'LCB' or 'CB' or 'RCB' or 'RB'):
        data["Position_Class"][i] = 'Defender'
        
    elif data['Position'][i] == 'GK':
        data["Position_Class"][i] = 'GoalKeeper'
        
    else:
        continue