In [15]:
import pandas as pd
import numpy as np

data = open('영화 기생충_review.txt')
df = pd.DataFrame(data,columns = ['review'])
df.head()

                                          review
0                           별1개  준 사람들은   나베당임\n
1                                           역쉬\n
2       영화가 끝나고 가슴이 먹먹하고 답답햇습니다 너무나 충격적이었습니다..\n
3  지금까지 나온 감독의 모든 작품이 압축되어있다는 느낌을 받음.  Bomb!!!\n
4                         대단한 영화. 몰입력 장난아님. 후아\n

1. 데이터를 불러온 뒤, 숫자, 특수 문자 등을 제거하는 전처리 작업을 시행하시오. 그리고 '영화 기생충_review.txt'을 사전에 등록하시오

In [16]:
import re
df = df.fillna(' ')

#숫자를 공백으로 변경
df['review'] = df['review'].apply(lambda x: re.sub(r"\d+", " ", x))

#특수문자를 공백으로 변환
df['review'] = df['review'].apply(lambda x: re.sub('[-=+,#/\?:^.@*\"※~ㆍ!』‘|\(\)\[\]`\'…》\”\“\’·]', ' ', x))

df.head()

                                          review
0                           별 개  준 사람들은   나베당임\n
1                                           역쉬\n
2       영화가 끝나고 가슴이 먹먹하고 답답햇습니다 너무나 충격적이었습니다  \n
3  지금까지 나온 감독의 모든 작품이 압축되어있다는 느낌을 받음   Bomb   \n
4                         대단한 영화  몰입력 장난아님  후아\n

2. TDM을 구축하고 빈도를 파악하고 시각화하시오.