p가 작을수록 독립

In [2]:
from scipy.stats import chi2_contingency
import pandas as pd
df = pd.DataFrame({'Gender':['M','M','M','F','F']*10,
                  'isSmoker':['o','o','o','x','x']*10})

df.head()

  Gender isSmoker
0      M        o
1      M        o
2      M        o
3      F        x
4      F        x

In [3]:
contigency = pd.crosstab(df['Gender'],df['isSmoker'])
contigency

isSmoker   o   x
Gender
F          0  20
M         30   0

In [5]:
chi2_contingency(contigency)

(45.92013888888889,
 1.2317319065658562e-11,
 1,
 array([[12.,  8.],
        [18., 12.]]))