#### 시간 데이터 변환 포맷
- %y : 년(OO), %Y : 년(OOOO)
- %m : 월(숫자), %d : 일(숫자)
- %H : 시간, %M : 분, %S : 초
- %b : 월(Short) #영어로 된 월 문자열, %B : 월(Full) #영어로 된 월 문자열
- %D : 월/일/년
- %a : 요일(영어로된 요일 문자열), %A : 요일(FULL)
- weekday : 월요일이 0, 일요일이 6

In [1]:
import time
from datetime import datetime, date, timedelta

datetime.now().weekday(), datetime.now().date(), datetime.now().time()

(5, datetime.date(2022, 9, 24), datetime.time(4, 17, 53, 920557))

In [3]:
week = timedelta(weeks=1)
next_week = date.today() + week
timedelta(days=5, hours=17, minutes=30), week, date.today(), next_week

(datetime.timedelta(days=5, seconds=63000),
 datetime.timedelta(days=7),
 datetime.date(2022, 9, 24),
 datetime.date(2022, 10, 1))

#### 시간데이터 타입 변환
1. str로 변환 : timestamp -> datetime -> str

In [4]:
timestamp1 = time.time()
timestamp_to_str = str(timestamp1)
timestamp1, type(timestamp1), timestamp_to_str, type(timestamp_to_str)

(1663960897.515383, float, '1663960897.515383', str)

In [5]:
datetime_to_str = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
datetime.now(), type(datetime.now()), datetime_to_str, type(datetime_to_str)

(datetime.datetime(2022, 9, 24, 4, 23, 1, 564698),
 datetime.datetime,
 '2022-09-24 04:23:01',
 str)

2. timestamp로 변환 : str -> strptime -> datetime -> timestamp

In [7]:
str1 = '2018-05-16 12:00:00'
str_to_datetime = datetime.strptime(str1, '%Y-%m-%d %H:%M:%S')
datetime_to_timestamp = time.mktime(str_to_datetime.timetuple())

str1, type(str1), str_to_datetime, type(str_to_datetime), datetime_to_timestamp, type(datetime_to_str)

('2018-05-16 12:00:00',
 str,
 datetime.datetime(2018, 5, 16, 12, 0),
 datetime.datetime,
 1526439600.0,
 str)

3. datetime으로 변환 
- str -> datetime : strptime이용
- timestamp -> datetime : fromtimestamp이용

In [9]:
str1 = '2018-05-16 12:00:00'
str_to_datetime = datetime.strptime(str1,'%Y-%m-%d %H:%M:%S')
str1, type(str1), str_to_datetime, type(str_to_datetime)

('2018-05-16 12:00:00',
 str,
 datetime.datetime(2018, 5, 16, 12, 0),
 datetime.datetime)

In [11]:
timestamp_to_datetime = datetime.fromtimestamp(time.time())
time.time(), type(time.time()), timestamp_to_datetime, type(timestamp_to_datetime)

(1663962499.847751,
 float,
 datetime.datetime(2022, 9, 24, 4, 48, 19, 847721),
 datetime.datetime)

#### Pandas 이용

In [12]:
import pandas as pd

pd_ts = pd.Timestamp(2019, 12, 22, 13, 30, 59)
pd_ts, type(pd_ts)

(Timestamp('2019-12-22 13:30:59'), pandas._libs.tslibs.timestamps.Timestamp)

In [14]:
pd_ts.timestamp(), pd_ts.date(), pd_ts.time()

(1577021459.0, datetime.date(2019, 12, 22), datetime.time(13, 30, 59))

In [15]:
pd_ts.strftime('%Y-%m-%d %H:%M:%S'), type(pd_ts.strftime('%Y-%m-%d %H:%M:%S'))

('2019-12-22 13:30:59', str)

In [16]:
pd.Timestamp.now(), pd.Timestamp.today(), type(pd.Timestamp.today())

(Timestamp('2022-09-24 04:52:05.950211'),
 Timestamp('2022-09-24 04:52:05.950331'),
 pandas._libs.tslibs.timestamps.Timestamp)

In [17]:
t1 = '2020-03-02 00:00:00'
t2 = pd.to_datetime(t1)
t1, type(t1), t2, type(t2)

('2020-03-02 00:00:00',
 str,
 Timestamp('2020-03-02 00:00:00'),
 pandas._libs.tslibs.timestamps.Timestamp)